<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ZenSoft &middot; Test Automation Framework in the Cloud</title>
  </head>

  <body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <!-- li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li-->
        </ul>
        <img src="/app/assets/imges/zens-logo-tp.png" alt="ZenSoft">
      </div>

      <hr>

      <div class="jumbotron">
        <h1 style="color: #008000;">Test Automation Framework in the Cloud for all!</h1>
        <!--h1>Test Automation Framework in the Cloud for all!</h1-->
        <p class="lead">To provide all Test Automation Technology and Framework in the cloud where you can create Test Cases for Website, Software Application or Your Awesome Project. Our belief is to make it super easy and simple by providing you the state of the art framework to create and automate test cases and get the metrics sent to you for the Quality Assurance of your work. We help you for producing awesome software for your businesses and projects. </p>
        <p class="lead"><b><span style="color: #1f497d;">Sounds Interesting ..? Provide your Email Id below for Invite and we will get in touch with you soon with your Login Details.&nbsp;</span></b></p> 

      </div>

      <div id="completeform">
            <span id="error"></span>
            <form class="form-inline jumbotron" method="post">
                <input type="email" class="span3" placeholder="Type your Email here.." autocomplete="off" autocorrect="off" autocapitalize="off" required>
            <button type="submit" name="sendbtn" class="btn btn-success" href="#">Request Invite!</button>
        </form>
      </div>

 <hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span4">
          <h2>What is It ?</h2>
          <p>Cloud based Test Framework not limited to any specific Code. It bridges the gap between development, quality assurance and testing. It is best and easy to be used by anyone for ATDD (Acceptance Test Driven Development) and keyword-driven testing approach. 
          </p>
        </div>
        <div class="span4">
          <h2>What you Get ?</h2>
          <p>With ZenSoft Cloud Test Framework you can dramatically increase the speed, accuracy and scope of the test process. Its useful for all including lone software developer, small and big software development team. Get access to centralised test repository which can be run anytime with notifications sent to pre-defined users.</p>
       </div>
        <div class="span4">
          <h2>Whats Cool ?</h2>
          <p>You get Unified Test Reports and Logs and notifications for all stake holders. Set manual test cases or automate the test cases using the cloud environment. 
          No need to make your own test environment, use our easy to use API to make and automate test cases.  
          We provide you rich and most popular libraries including selenium, REST API, SOAP API, database.
          Get great Technical Support.</p>
        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; ZenSoft 2013</p>
      </div>

    </div> <!-- /container -->

  </body>
</html>
